<section class="header">
  <div class="text">
    <h2 class="big-heading">About Me</h2>
  </div>
</section>
<p class="diplomas"><strong>E</strong>ducations </p>

<section class="education">

<div class="educastion-wrapper">
  <div class="education-icon">
    <div class="icon-small">
      <img
        src="https://assets.website-files.com/5f4f98ba6b9aeb718ac262b8/5f50c58febad960217d07e4d_icons8-graduation-cap-512.png"
        loading="lazy"
        width="22"
        alt=""
      />
    </div>
    <div class="education-line _100px"></div>
  </div>
  <div>
    <div class="year">2022 - present</div>
    <h3 class="services-title no-margin">
      Certificate - Software System Developer - BCIT<br />
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>
<div class="educastion-wrapper">
    <div class="education-icon">
      <div class="icon-small">
        <img
          src="https://assets.website-files.com/5f4f98ba6b9aeb718ac262b8/5f50c58febad960217d07e4d_icons8-graduation-cap-512.png"
          loading="lazy"
          width="22"
          alt=""
        />
      </div>
      <div class="education-line _100px"></div>
    </div>
    <div>
      <div class="year">2022 - present</div>
      <h3 class="services-title no-margin">
        Master -Architectures and applications of information systems - ENSA<br />
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <div class="educastion-wrapper">
    <div class="education-icon">
      <div class="icon-small">
        <img
          src="https://assets.website-files.com/5f4f98ba6b9aeb718ac262b8/5f50c58febad960217d07e4d_icons8-graduation-cap-512.png"
          loading="lazy"
          width="22"
          alt=""
        />
      </div>
      <div class="education-line _100px"></div>
    </div>
    <div>
      <div class="year">2022 - present</div>
      <h3 class="services-title no-margin">
        Bachelor - Computer Science - FST<br />
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  
</section>
