<section class="header">
  <div class="text">
    <h2 class="big-heading">My Projects</h2>
    <button type="button" class="back" (click)="goBack()">  
      Back</button>
  </div>
</section>
<ng-container *ngIf="!selectedProject">
  <div class="container">


    <section class="sidBar">
      <!-- <h4>List of Categories</h4> -->

      <app-categories> </app-categories>

      <!-- <h4>List of Tags</h4> -->

      <app-tags></app-tags>
    </section>
    <section class="filter">
      <div *ngIf="filtered">
        <h3>Filter: {{ filtered }}</h3>
      </div>
    </section>
    <section class="projects">
      <div class="project" *ngFor="let project of projects">
        <h4 routerLink="/projects/{{ project.id }}">
          {{ project.title | uppercase }}
        </h4>
        <div class="proj-flex">
          <div class="thumb" *ngIf="project.thumb; else elseBlock">
            <img [src]="project.thumb" alt={{project.title}} height="200px"/>
          </div>
          <ng-template #elseBlock>
            <img [src]="'assets/images/not-available44.jpeg'" alt="placeholder-thumbnail" height="200px"/>
          </ng-template>
          <div class="body-project">
            <p>{{ project.excerpt }}</p>
            <div
            class="categories" 
            *ngIf="project.category"
            routerLink="/projects/categories/{{ project.category.slug }}"
          >
           <strong>Category: </strong> <span>{{ project.category.name }}</span>
          </div>
  
          <div class="tags" *ngIf="project.tags?.length">
          <strong>   Tags:</strong> 
            <span
              *ngFor="let tag of project.tags"
              routerLink="/projects/tags/{{ tag.slug }}"
            >
              {{ tag.name }}
            </span>
          </div>
          </div>
        </div>

        <br />
        <a routerLink="/projects/{{ project.id }}" class="btn">View More Details</a>

      
      </div>
    </section>
  </div>
</ng-container>
<section *ngIf="selectedProject">
  <div (click)="clearSelectedProject()">Back</div>
  <app-project-detail project="selectedProject"></app-project-detail>
</section>
