.container{

  display:flex;
  // align-items: flex-start;
  // justify-content: space-between;
flex-direction: column;
  float: 1;
  .back{
  
font-size: x-large;
  }}
  .project {
    
      // background-color:rgb(241 243 244);
      background-image: linear-gradient(51deg, #dce2e2, rgb(188, 177, 198));

      // padding: 1.5rem;
      overflow: hidden;
      box-shadow: 0 1px 3px 0 black, 
      0 1px 2px 0 black;
      margin:10px;
      display: flex;
      // justify-content: space-between;
     
      align-items: flex-start;
      flex-direction: column-reverse;
      section{
     
       padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // align-items:flex-start;
        // position: relative;
        // width: 100%;
        // .title{
        //   position: absolute;
        //   top:10%;
        //   left: 50%;

        // }
        .body{
       
          // position: absolute;
          // background-color: #ffffff;
          // border: 1px solid black;
          // opacity: 0.6;
          // left: 35%;
          font-size:large;
          // max-width: 600px;
          // top:30%;
      
        }
        img {
          display: block; /* This ensures that margin auto works */
          margin: 0 auto; /* This centers the image horizontally */
          max-width: 100%;
          width: 100%;
          border-radius: 20px;
        }
        .body{
      
      
          font-size: 25px;
          color: black;
          margin-top:20px;
          padding:20px;
      
        }
       
       
      }
      footer{
    
        color: blueviolet;
        padding:20px;
        font-size: xx-large;

        
      }

    }
  